
.container {
    margin-top: 3rem;
}

.ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0 1rem;
}

.li {
    margin: 1rem;
    flex: 1 1 80px;
}

.row {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 500px) {

    .row {
        flex-direction: column;
    }

}
