

.ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0 1rem;
}

.li {
    margin: 1rem;
    flex: 1 1 80px;
}

.row {
    display: flex;
    flex-direction: row;
}

.link {
    color: #0097ff
}

.text {
    margin: 1rem 2rem 0 2rem;
    color: var(--text-color);
    line-height: 1.18rem;
    text-align: center;
}

@media screen and (max-width: 500px) {

    .row {
        flex-direction: column;
    }

}
