
.imageContainer {
    box-shadow: var(--shadow);
    overflow: hidden;
    border-radius: 0.2rem;
    display: flex;
}

.image {
    transition: var(--transition);
}

.imageContainer:hover .image {
    transform: scale(1.05);
}

.imageContainer:active .image {
    transform: scale(1);
}

.subtitle {
    text-align: center;
    font-weight: normal;
}
