
.imageContainer {
    transition: var(--transition);
    box-shadow: var(--shadow);
    overflow: hidden;
    border-radius: 0.2rem;
    display: flex;
}

.imageContainer:hover {
    transform: scale(1.05);
}

.imageContainer:active {
    transform: scale(0.95);
}

.subtitle {
    text-align: center;
    font-weight: normal;
}
