

.main {
    margin: 0 2rem;
}

.main p a {
    color: var(--link-color);
}

.h2 {
    text-align: start;
}

.footer {
    display: flex;
    justify-content: center;
}

.back {
    margin-bottom: 1rem;
    font-size: 0.75rem;
    padding: 5px;
    text-decoration: underline;
}