html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Gobold', serif;
    background-color: var(--bg-primary);
    background-image: url('/images/backgrounds/paper-texture.jpg');
    color: var(--font-color);
}

@font-face {
    font-family: Gobold;
    src: url("/fonts/Gobold Regular.otf") format("opentype");
}

:root {
    --bg-primary: #000;
    --font-color: #fefefe;
    --transition: ease 0.3s;
    --shadow: 0 0rem 0.6rem 0.2rem var(--shadow-color);
    --shadow-color: #333333;
    --text-color:  #ddd;
    --link-color: #0097ff;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 330px) {

    body {
        overflow: scroll;
        width: 330px;
    }
}


@media screen and (min-width: 800px) {

    body {
        width: 800px;
        margin: 0 auto;
    }
}

