html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Baskerville', serif;
    background-color: var(--bg-primary);
    color: var(--font-color);
}

:root {
    --bg-primary: #000;

    --font-color: #fefefe;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    text-align: center;
    font-weight: 600;
}

* {
    box-sizing: border-box;
}
