.container {

}

.main {

}

.text {
    margin: 1rem 2rem 3rem 2rem;
    text-align: justify;
    color: var(--text-color);
    line-height: 1.18rem;
    font-family: 'Gobold', serif;
}

.video {
    width: calc(100vw - 4rem);
    height: calc((100vw - 4rem) * 9 / 16);
}

.imageContainer {
    width: 80vw;
    margin: 0 auto;
}

.footer {
    text-align: center;
    padding: 1rem;
}

.footer a {
    text-decoration: underline;
}

.hr {
    margin: 2rem 2rem 0 2rem;
    height: 0.1pt;
    background-color: #666;
    border: none;
}

.aboutHref {
    margin-bottom: 1rem;
    font-size: 0.75rem;
}

.hider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    animation: fadeOut linear 1s;
    z-index: 999;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hiderImage {
    width: 200px;
    height: 200px;
    object-fit: contain;
    animation: alternate 0.5s showActivity;
    animation-iteration-count: 10;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes showActivity {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@media screen and (min-width: 800px) {
    .video {
        width: calc(800px - 4rem);
        height: calc((800px - 4rem) * 9 / 16);
    }
}

@media screen and (max-width: 330px) {
    .video {
        width: calc(330px - 4rem);
        height: calc((330px - 4rem) * 9 / 16);
    }
}
